<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <input type="text"
             class="form-control shadow-sm"
             placeholder="Search category..."
             >
    </div>
  </div>
</div>

<h3>Categories List: </h3>

<!-- Add New Button -->
<button class="btn btn-primary float-end" (click)="openModal()">Add new</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Category</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <label id="add">Add Category:</label>
        <input type="text" placeholder="Enter catogoty">
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Add</button>
      </div>

    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
<table class="table table-hover text-center mt-5 table-bordered">
    <thead class="table-dark">
      <tr>
        <th style="width:20%;">Sr.No</th>
        <th style="width:60%;">Category</th>
        <th style="width:20%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Electronics</td>

      <td>
      <button class="btn btn-warning">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
              
      </tr>
      <tr>
        <td>2</td>
        <td>Grossary</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
        
      </tr>
      <tr>
        <td>3</td>
        <td>Furniture</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
        
      </tr>
    </tbody>
  </table>
  </div>
