<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <input type="text"
             class="form-control shadow-sm"
             placeholder="Search user..."
             >
    </div>
  </div>
</div>

<h3>User List:</h3>

<!-- Add New Button -->
<button class="btn btn-primary float-end" >Add new</button>

<div class="row justify-content-center">
<table class="table table-hover text-center mt-5 table-bordered ">
  <thead class="table-dark">
    <tr>
      <th style="width:5%;">Sr.No</th>
      <th style="width:15%;">Full Name</th>
      <th style="width:15%;">User Name</th>
      <th style="width:25%;">Phone</th>
      <th style="width:10%;">Role</th>
      <th style="width: 10%;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Jayraj Gohil</td>
      <td>_jod</td>
      <td>9824915548</td>
      <td>Admin</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td>1</td>
      <td>Jay Gohil</td>
      <td>jay__</td>
      <td>+919824915548</td>
      <td>Manager</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Raj Gohil</td>
      <td>__08</td>
      <td>09824915548</td>
      <td>User</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>

