<h3>Product List:</h3>

<!-- Add New Button -->
<button class="btn btn-primary float-end" >Add new</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Category</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <label id="add">Add Category:</label>
        <input type="text" placeholder="Enter catogoty">
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Add</button>
      </div>

    </div>
  </div>
</div>




<table class="table table-hover mt-5 ">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Parle-G</td>
        <td>Biscuit</td>
        <td>&#8377;10</td>

        <button class="btn btn-primary d-flex justify-content-between align-items-center ">
<td><i class="bi bi-pencil-square"> &nbsp;&nbsp;&nbsp; </i> <i class="bi bi-trash"></i></td>
</button>
              
      </tr>
      <tr>
        <td>2</td>
        <td>Dove Shampoo</td>
        <td>Shampoo</td>
        <td>&#8377;100</td>
        <button class="btn btn-primary d-flex justify-content-between align-items-center ">
<td><i class="bi bi-pencil-square"> &nbsp;&nbsp;&nbsp; </i> <i class="bi bi-trash"></i></td>
</button>
        
      </tr>
      <tr>
        <td>3</td>
        <td>coco-cola</td>
        <td>Cold-drink</td>
        <td>&#8377;100</td>
                <button class="btn btn-primary d-flex justify-content-between align-items-center ">
<td><i class="bi bi-pencil-square"> &nbsp;&nbsp;&nbsp; </i> <i class="bi bi-trash"></i></td>
</button>
        
      </tr>
    </tbody>
  </table>
