<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <input type="text"
             class="form-control shadow-sm"
             placeholder="Search here..."
             >
    </div>
  </div>
</div>

<h1>Sales List::</h1>
<h6>When you sell products to a customer.</h6>


<div class="row justify-content-center">
<table class="table table-hover text-center mt-5 table-bordered ">
  <thead class="table-dark">
    <tr>
      <th style="width:5%;">Sr.No</th>
      <th style="width:15%;">Customer Name</th>
      <th style="width:15%;">Product</th>
      <th style="width:10%;">Quantity</th>
      <th style="width:10%;">Total Amount</th>
      <th style="width:15%;">Date</th>
      <th style="width:10%;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Rohan</td>
      <td>Chips</td>
      <td>1</td>
      <td>$40</td>
      <td>10/02/2026</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>

    </tr>
    <tr>
      <td>2</td>
      <td>Ramesh</td>
      <td>iPHONE 16</td>
      <td>1</td>
      <td>$1,59,990</td>
      <td>10/02/2026</td>

      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>

    </tr>
    <tr>
      <td>3</td>
       <td>Rahul</td>
      <td>Chairs</td>
      <td>3</td>
      <td>$3,000</td>
      <td>10/02/2026</td>
      <td>
      <button class="btn btn-warning ">
        <i class="bi bi-pencil-square"> </i> 
      </button>&nbsp; 
      <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>

    </tr>
  </tbody>
</table>
</div>
